<!DOCTYPE html>
<html>
<title>Annit</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1 {font-family: "Raleway", Arial, sans-serif}
h1 {letter-spacing: 6px}
.w3-row-padding img {margin-bottom: 12px}
</style>
<body>

<div class="w3-container w3-dark-grey">
  <h1>ANNit</h1>
</div>

<!-- <img src="img_car.jpg" alt="Car" style="width:100%"> -->

<!-- <div class="w3-container">
  <p>URI = {{ entry.URI_text }}.</p>
  <p>Choice = {{ entry.user_choice }}.</p>
</div> -->


<h1>{{ entry.URI_text }}</h1>

Choices

<!-- <ul>
{% for choice in all_choices.all %}
    <li>{{ choice.choice_text }}</li>
{% endfor %}
</ul> -->



{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'annotate:decide' entry.id %}" method="post">
{% csrf_token %}
{% for choice in all_choices.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
{% endfor %}
<input type="submit" value="decide">
</form>


<div class="w3-container w3-dark-grey">
  <p>My footer information</p>
</div>

</body>
</html>
