<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div class="w3-container w3-teal">
  <h1>My Car</h1>
</div>

<!-- <img src="img_car.jpg" alt="Car" style="width:100%"> -->
{% if all_entries %}
    <ul>
    {% for entry in all_entries %}
        <!-- <li><a href="/annotate/{{ entry.id }}/">{{ entry.URI_text }}</a></li> -->
				<li><a href="{% url 'annotate:detail' entry.id %}">{{ entry.URI_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}

{% if all_choices %}
    <ul>
    {% for choice in all_choices %}
        <!-- <li><a href="/annotate/{{ entry.id }}/">{{ entry.URI_text }}</a></li> -->
				<li><a>{{ choice.choice_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}

<!-- <div class="w3-container">
  <p>A car is a wheeled, self-powered motor vehicle used for transportation.</p>
</div> -->

<div class="w3-container w3-teal">
  <p>My footer information</p>
</div>

</body>
</html>
