<!DOCTYPE html>
<html>
<title>ANNit</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1 {font-family: "Raleway", Arial, sans-serif}
h1 {letter-spacing: 6px}
.w3-row-padding img {margin-bottom: 12px}
td {max-width: 20px; word-wrap: break-word; text-wrap: normal}
</style>
<body>

<div class="w3-container w3-dark-grey">
  <h1>- ANNit -</h1>
</div>



<div class="w3-container">
<form method="post" enctype="multipart/form-data" action="load">
{% csrf_token %}
   <input type="text" name="u_name">
	<!-- <input type="submit" value="ok"> -->
	<button type='submit' href="pair" class="w3-button w3-white w3-padding-large w3-hover-black">Load File</button>
<br>
	<input type="text" name="a_name">
	 <!-- <input type="submit" value="ok"> -->
	 <button type='submit' href="pair" class="w3-button w3-white w3-padding-large w3-hover-black">Add New Annotation</button>

	 <!-- <label for="choice{{ forloop.counter }}">Clear Annotations</label> -->
	 <!-- <input type="submit" name="clear_names"> -->
	 <!-- <button type='submit' name="clear_names">Clear All Annotations</button> TODO -->
	  <!-- <input type="submit" value="ok"> -->

</form>
</div>


<!--

<div class="w3-container">
<form method="post" enctype="multipart/form-data" action="save_entries">
{% csrf_token %}

	 <button type='submit' href="pair" class="w3-button w3-white w3-padding-large w3-hover-black">Export All</button>

</form>
</div> -->


<form action='export' method='GET'>
<!-- <button type='submit'> sort me</button> -->
<button type='submit' href="export" class="w3-button w3-white w3-padding-large w3-hover-black">MyExport</button>
</form>




  {% if all_choices %}
<div class="w3-container">
  <p>The following are the annotations</p>
<table class="w3-table w3-bordered w3-striped">

  <tr class="w3-dark-grey">
	<td>Annotation</td>

  </tr>

	  <!-- <ul> -->
	  {% for choice in all_choices %}
		  <!-- <li><a href="/pair/{{ entry.id }}/">{{ entry.URI_text }}</a></li> -->
				<!-- <li><a>{{ choice.choice_text }}</a></li> -->
		  <tr>
			<th><a>{{ choice.choice_text }}</a></th>
			<!-- <th>Last Name</th>
			<th>Points</th> -->
		  </tr>
	  {% endfor %}
	  <!-- </ul> -->
<!--
	  <form method="post" enctype="multipart/form-data" action="load">
	  {% csrf_token %}
		 <input type="text" name="a_name">
		  <!-- <input type="submit" value="ok"> -->
		  <!-- <button type='submit' href="pair" class="w3-button w3-white w3-padding-large w3-hover-black">Add to Annotation</button>
	  </form> -->

  </table>
</div>
{% else %}
	<p>No annotation available. Please add some!</p>
{% endif %}


<!-- <img src="img_car.jpg" alt="Car" style="width:100%"> -->
{% if all_entries %}
	<div class="w3-container">
	  <p>The following are the entries</p>

	  <table class="w3-table w3-bordered w3-striped" table-layout="auto" width="30%">
		<tr class="w3-dark-grey">
		  <!-- <td>id</td> -->
		  <td>left URI</td>
		  <td>right URI</td>
		  <td>user Choice</td>
		  <td>(implied) Decision</td>
		  <td>Comment</td>
		</tr>

		<ul>
		{% for entry in all_entries %}
			<!-- <li><a href="/pair/{{ entry.id }}/">{{ entry.URI_text }}</a></li> -->
					<!-- <li><a href="{% url 'pair:detail' entry.id %}">{{ entry.URI_text }}</a></li> -->
			<tr>
			  <!-- <td><a href="{% url 'pair:detail' entry.id %}">{{ entry.id }}</a></td> -->
			  <td><a href="{% url 'pair:detail' entry.id %}">{{ entry.left_URI_text }}</a></td>
			  <td><a >{{ entry.right_URI_text }}</a></td>
			  <td><a >{{ entry.user_choice }}</a></td>
			  <td><a >{{ entry.user_decision }}</a></td>
			  <td><a >{{ entry.comment }}</a></td>

			</tr>
		{% endfor %}
		</ul>

	  </table>
	</div>


{% else %}
	<p>No choice available.</p>
{% endif %}



<!-- <div class="w3-container">
  <p>A car is a wheeled, self-powered motor vehicle used for transportation.</p>
</div> -->

<div class="w3-container w3-dark-grey">
  <p>My footer information</p>
</div>

</body>
</html>
